.logo img{
  margin-top: -12px;
  border-radius: 50px;
}
.navbar{
  font-size: 19px;
  padding: 1%;
}
.navbar-nav{
  padding-left: 1%;
}
.marketing{
  height: 100%;
  padding-top: 23%;
  margin-top: -24%;
  margin-bottom: -20%;
  background-color: rgba(255, 255, 255, 0.8);
}
.featurette img{
  border-radius: 10px;
}
body{
  background-image: url(../images/fond.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.pull-right{
  text-decoration: none;
  padding: 0.4%;
  border-radius: 10px;
  background-color: rgba(193, 193, 193, 0.8);
}
.pull-right:hover{
  background-color: rgba(165, 165, 165, 0.8);
}
.pull-right a{
  text-decoration: none;
  color: white;
}
.pull-right a:hover{
  text-decoration: none;
  color: white;
}
.section li{
  width: 33%;
  text-align: center;
}
.tab-content>div>form>button{
  margin-left: 46%;
}
.buttoncenter{
  margin-left: 46%;
}
.formadmin{
  margin-left: 25%;
}
.aboutTitle{
  text-align: center;
}
#aboutPara{
  text-indent: 3em;
  font-size: 1.5em;
}
.imgentforma{
  border-radius:10px 5px;
  margin: 2%;
  margin-left: 41%;
}
.forma h3{
  text-align: center;
}
.reservform{
  width: 50%;
  margin-left: 25%;
}
.reservform img{
  width: 50%;
  text-align: center;
  margin-left: 25%;
}
#msg{
  max-width: 100%;
}
.reservform h4{
  width: 50%;
  text-align: center;
  margin-left: 25%;
}
.TabCel thead {
  text-align: center;
}
.Marg {
  padding: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
}
.LibForm {
  width: 100%;
}
.Col1 {
  width: 31%;
}
.Col2 {
  width: 11%;
  text-align: center;
}

.tabprod {
  margin: auto;
  text-align: center;
  border: solid black 1px;
  table-layout: fixed;
  width: 100%;
}

#btnton{
  margin-left: 46%;
}